@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@600&family=Merienda:wght@300..900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background-color: #fdc1ca;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

h1 {
  font-size: 40px;
  text-align: center;
  color: #2F2F4F;
}
  .merienda {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
  }
  
  p {
    font-size: 20px;    
  }
  
  header {
    background: linear-gradient(to right, #FFB6C1, #DC143C);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
  }
  
  .logoimagem {
    width: 90px;
    height: 90px;
    border-radius: 2px;
  }
  
  .container-logo {
    display: flex;
    align-items: center;
  }
  
  .logotexto {
    margin-left: 5px;
    color: white;
  }
  
  .menu li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .menu li a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .txt {
    font-size: 28px;
    text-align: justify;
    margin-left: 130px;
    margin-right: 130px;
  }

  .txt1 {
    font-size: 28px;
    text-align: justify;
    margin-left: 130px;
    margin-right: 130px;
  }

li {
  font-size: 28px;
  margin-left: 130px;
  margin-right: 13px;
  display: flexbox;
}

.tt {
  display: flex;
  font-size: 28px;
}

footer {
  background: linear-gradient(to right, #FFB6C1, #DC143C);
  text-align: center;
}